@font-face
    font-family: 'Abbess'
    src: url('../assets/font/AbbessRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Malkavian'
    src: url('../assets/font/MalkavianRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
  
html, body
  overflow: hidden

.page-view
  height: inherit
  overflow-y: auto

body
  height: 100dvh

.justify-space-between
  justify-content: space-between

#app
  font-family: Abbess, sans-serif
  color: #dedede !important
  height: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.malkavian
  font-family: Malkavian, Abbess, sans-serif !important

.d-flex
  display: flex
.flex-column
  display: flex
  flex-direction: column

.justify-center
  justify-content: center