@font-face
    font-family: 'Abbess'
    src: url('../assets/font/AbbessRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Malkavian'
    src: url('../assets/font/MalkavianRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
  
html, body
  overflow: hidden

body
  height: 100dvh

#app
  font-family: Abbess, sans-serif
  color: #dedede !important
  height: inherit
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.malkavian
  font-family: Malkavian, Abbess, sans-serif !important