$primary   : #991e1e
$secondary : #264996
$accent    : #991e1e

$dark      : #16181c
$dark-page : #0c0d0f

$positive  : #233b70
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$tooltip-fontsize: 0.7rem

@import '~quasar-variables-styl'
